#results_container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 90%;
  padding: 0px 5%;

  .result_cell {
    margin: 0px 10px 10px;
    padding: 10px 15px;
    flex: 1 1 250px;
    height: 400px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    color: #444444;
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      color: #eeeeee;
      background-color: #adadad;
      -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
    }

    &:empty {
      height: 0px;
    }

    img {
      height: 300px;
    }
  }
}