html
  head
    title= 'Blackbird Coding Challenge'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='description', content='Morgan Aw\'s Blackbird coding challenge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/packed/feathers.css', rel='stylesheet')

    body
      #content!=app

    script(src='/packed/avian.js' async)